@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 0px;
}

body {
  scrollbar-width: none; 
  scrollbar-color: #020f1d transparent;
}

body::-webkit-scrollbar-thumb {
  background: #010a14;
  border-radius: 0px;
}
